* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 6em;
    background-color: rgba(37,94,233,255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

nav {
    padding: 1em;
    background-color: rgba(37,94,233,255);
    height: 3.5em;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}


.jumbo {
    height: 500px;
    width: 100%;
    background-image: url(img/jumbo.png);
    background-position: center;
    background-size: cover;
   
}

.welcome {
    color: white;
    height: 80%;
    width: 60%; 
    margin-inline: auto;
    padding-inline: 3rem;
    padding-top: 6rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}


.row1 {
    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frog {
    background-image: url(img/item1.svg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    padding-inline: 5rem;
}

.row2 {
    background-color: lightgray;

    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.magician {
    background-image: url(img/item2.svg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    padding-inline: 5rem;
}

.row3 {
    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ciclope {
    background-image: url(img/item3.svg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    padding-inline: 5rem;
}

.greybig {
    padding-inline: 3rem;
    color: black;
    text-align: center;
    padding-top: 4rem;
    }


h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.downmac {
    padding: 1rem;
    width: 15rem;
    color: white;
    background-color: rgba(88,101,242,255);
    margin-bottom: 2rem;
    
}


footer {
    padding-top: 3rem;
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: space-around;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    color: white;
    
}

.h3foot {
    color: rgba(88,101,242,255);
    padding-bottom: 1rem;    
}

.ita {
    height: 20px;
    width: 30px;
}

span, li {
    color: white;
    list-style-type: none;
}


li {
    padding-bottom: 1rem;
}

h4 {
    color: rgba(88,101,242,255);
    padding-bottom: 1rem;
}

.underfooter {
    padding: 3rem;
    background-color: rgb(38, 38, 38);
    border-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(88,101,242,255);

}

