* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 6em;
    background-color: rgba(37,94,233,255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

nav {
    padding: 1em;
    background-color: rgba(37,94,233,255);
    height: 3.5em;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}


.jumbo {
    height: 500px;
    width: 100%;
    background-image: url(img/jumbo.png);
    background-position: center;
    background-size: cover;
   
}

.welcome {
    color: white;
    height: 80%;
    width: 60%; 
    margin-inline: auto;
    padding-inline: 3rem;
    padding-top: 6rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}


.row1 {
    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frog {
    background-image: url(img/item1.svg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    padding-inline: 5rem;
}

.row2 {
    background-color: lightgray;

    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.magician {
    background-image: url(img/item2.svg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    padding-inline: 5rem;
}

.row3 {
    padding-inline: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ciclope {
    background-image: url(img/item3.svg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    padding-inline: 5rem;
}

.greybig {
    padding-inline: 3rem;
    color: black;
    text-align: center;
    padding-top: 4rem;
    }

/* .bluebox {
    height:  80%;
    width: 60%;
    flex: 0 1 70%;
    background-color: rgb(26, 95, 199);
    border: 2px dashed black ;

}

aside {
    height:  80%;
    width: 60%;
    flex: 0 1 30%;
    background-color: pink;
    border: 2px dashed black ;

} */

/* .greycont {
    padding-inline: 15%;
    background-color:lightgray;
    height: 18em;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.greybig {
    padding-inline: 15%;
    background-color: lightgray;
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* 
.greenbox {
    background-color: green;
    height: 80%;
    width: 100%;
    border: 2px dashed black ;

}

.darkgreybox {
    padding-inline: 15%;
    background-color: rgb(82, 82, 82);
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.salmon {
    border: solid black;
    background-color: salmon;
    height:  80%;
    width: 60%;
    flex: 0 1 40%;
    border: 1px dashed black ;

}

.fourboxes {
    border: solid black;
    background-color: cadetblue;
    height:  80%;
    width: 60%;
    flex: 0 1 15%;
    border: 1px dashed white ;

} */


footer {
    background-color: rgb(82, 82, 82);
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-cont {
    height: 70%;
    width: 70%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.5em;
}

.f-logo, .f-button {
    border: 1px dashed black ;
    height: 1.2em;
    width: 4em;
    background-color: pink;
    text-align: center;
    
}



